/** APP.CSS */

.cbg-1 {
  background: #8d368c80;
}

.cbg-2 {
  background: #55398e7a;
}

.cbg-3 {
  background: #ecece9;
}

.ck-1 {
  color: #8d368c;
  font-weight: bold;
}

.bg-dash {
  background: linear-gradient(175deg, #8d368c, #55398e);
}

#mainNav {
  z-index: 1000;
}
