/** GUEST.CSS */

.navbar-brand img {
  height: 40px;
}

.btn {
  padding: .8rem 1.6rem;
}

.navbar {
  height: 6rem;
}

.clinky-bg {
  background: linear-gradient(125deg, #8d368c, #55398e);
}

.clinky-bg:hover {
  background: linear-gradient(125deg, #8d368c, #8d368c);
}

@media (max-width: 576px) {
  .navbar-brand img {
    height: 30px; 
  }
  
}
